In [1]:
import pandas as pd
import plotly
import numpy as np
import re

In [2]:
df_medals = pd.read_excel("olympic_medals.xlsx")
df_medals

,Unnamed: 0,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21692,21692,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,SILVER,Athlete,NaN,https://olympics.com/en/athletes/viggo-jensen,Viggo JENSEN,Denmark,DK,DEN
21693,21693,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,BRONZE,Athlete,NaN,NaN,Alexandros Nikolopoulos,Greece,GR,GRE
21694,21694,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/viggo-jensen,Viggo JENSEN,Denmark,DK,DEN
21695,21695,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,SILVER,Athlete,NaN,https://olympics.com/en/athletes/launceston-el...,Launceston ELLIOT,Great Britain,GB,GBR
21696,21696,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,BRONZE,Athlete,NaN,https://olympics.com/en/athletes/sotirios-versis,Sotirios VERSIS,Greece,GR,GRE

In [3]:
#pd.set_option('display.max_rows', None) 
#pd.set_option('display.width', None)
#pd.set_option('display.max_colwidth', None)
#pd.set_option("max_seq_item", None)

In [4]:
df_medals = df_medals.drop(["participant_title", "country_code", "athlete_url"], axis=1)

In [5]:


for column in df_medals.columns:
    print(column)
    print(df_medals[column].isna().sum())
    print("\n")

Unnamed: 0
0


discipline_title
0


slug_game
0


event_title
0


event_gender
0


medal_type
0


participant_type
0


athlete_full_name
3624


country_name
0


country_3_letter_code
0

In [6]:
pd.unique(df_medals[df_medals["athlete_full_name"].isna()]["participant_type"])

array(['GameTeam'], dtype=object)

In [7]:
df_medals

,Unnamed: 0,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,athlete_full_name,country_name,country_3_letter_code
0,0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Stefania CONSTANTINI,Italy,ITA
1,1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Amos MOSANER,Italy,ITA
2,2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Kristin SKASLIEN,Norway,NOR
3,3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Magnus NEDREGOTTEN,Norway,NOR
4,4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Almida DE VAL,Sweden,SWE
...,...,...,...,...,...,...,...,...,...,...
21692,21692,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,SILVER,Athlete,Viggo JENSEN,Denmark,DEN
21693,21693,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,BRONZE,Athlete,Alexandros Nikolopoulos,Greece,GRE
21694,21694,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,GOLD,Athlete,Viggo JENSEN,Denmark,DEN
21695,21695,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,SILVER,Athlete,Launceston ELLIOT,Great Britain,GBR
21696,21696,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,BRONZE,Athlete,Sotirios VERSIS,Greece,GRE

In [8]:
df_medals['athlete_full_name'] = df_medals.apply(lambda row: "Team " + row['country_name'] if pd.isna(row['athlete_full_name']) else row['athlete_full_name'], axis=1)
df_medals.drop("Unnamed: 0", axis=1, inplace=True)
df_medals

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,athlete_full_name,country_name,country_3_letter_code
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Stefania CONSTANTINI,Italy,ITA
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Amos MOSANER,Italy,ITA
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Kristin SKASLIEN,Norway,NOR
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Magnus NEDREGOTTEN,Norway,NOR
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Almida DE VAL,Sweden,SWE
...,...,...,...,...,...,...,...,...,...
21692,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,SILVER,Athlete,Viggo JENSEN,Denmark,DEN
21693,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,BRONZE,Athlete,Alexandros Nikolopoulos,Greece,GRE
21694,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,GOLD,Athlete,Viggo JENSEN,Denmark,DEN
21695,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,SILVER,Athlete,Launceston ELLIOT,Great Britain,GBR
21696,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,BRONZE,Athlete,Sotirios VERSIS,Greece,GRE

In [9]:
df_medals[df_medals.isna()].count()

discipline_title         0
slug_game                0
event_title              0
event_gender             0
medal_type               0
participant_type         0
athlete_full_name        0
country_name             0
country_3_letter_code    0
dtype: int64

In [10]:
#df_medals prÃªt a envoyer en bdd

In [11]:
df_athletes = pd.read_json("olympic_athletes.json")
df_athletes

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,None,None
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,None,None
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,None,None
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,None,None
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,None,None
...,...,...,...,...,...,...,...
75899,https://olympics.com/en/athletes/douglas-weigle,Douglas WEIGLE,1,Innsbruck 1976,1955.0,None,\n\n\nKent Weigle competed in ice dancing with...
75900,https://olympics.com/en/athletes/stefania-bertele,Stefania BERTELE,1,Innsbruck 1976,1957.0,None,\n\n\nStefania Bertele had the following place...
75901,https://olympics.com/en/athletes/walter-cecconi,Walter CECCONI,1,Innsbruck 1976,1957.0,None,\n\n\nWalter Cecconi had the following placeme...
75902,https://olympics.com/en/athletes/susan-kelley,Susan KELLEY,1,Innsbruck 1976,1954.0,None,\n\n\nSusie Kelley competed in ice dancing wit...
75903,https://olympics.com/en/athletes/andrew-stroukoff,Andrew STROUKOFF,1,Innsbruck 1976,1960.0,None,\n\n\nAndrew Stroukoff competed in ice dancing...

In [12]:
df_athletes["athlete_medals"] = df_athletes['athlete_medals'].str.replace("\n", "")

In [13]:
def extract_gold(palmares):
    if palmares != None:
        match = re.search(r'(\d+)G', palmares)
        return int(match.group(1)) if match else 0
    else:
        return 0

def extract_silver(palmares):
    if palmares != None:
        match = re.search(r'(\d+)S', palmares)
        return int(match.group(1)) if match else 0
    else:
        return 0

def extract_bronze(palmares):
    if palmares != None:
        match = re.search(r'(\d+)B', palmares)
        return int(match.group(1)) if match else 0
    else:
        return 0

df_athletes['gold_medals'] = df_athletes['athlete_medals'].apply(extract_gold)
df_athletes['silver_medals'] = df_athletes['athlete_medals'].apply(extract_silver)
df_athletes["bronze_medals"] = df_athletes['athlete_medals'].apply(extract_bronze)

In [14]:
pd.unique(df_athletes["gold_medals"])

array([ 0,  1,  2,  3,  4,  6,  5,  7,  8, 23,  9], dtype=int64)

In [15]:
df_athletes[df_athletes["gold_medals"] == 23]

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio,gold_medals,silver_medals,bronze_medals
11547,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,5,Sydney 2000,1985.0,23G3S2B,\n\n\nMichael Phelps is arguably the greatest ...,23,3,2

In [16]:
pd.unique(df_athletes["silver_medals"])

array([0, 1, 2, 4, 3, 6, 5], dtype=int64)

In [17]:
pd.unique(df_athletes["bronze_medals"])

array([0, 1, 2, 3, 5, 4, 6], dtype=int64)

In [18]:
df_athletes = df_athletes.drop("athlete_medals", axis=1)

In [19]:
df_athletes["athlete_year_birth"].isna().sum()

2456

In [20]:
df_athletes[df_athletes["athlete_year_birth"].isna()]
# df_athletes["athlete_year_birth"].fillna(df_athletes["athlete_year_birth"].mean())

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,bio,gold_medals,silver_medals,bronze_medals
751,https://olympics.com/en/athletes/evgeni-semenenko,Evgeni SEMENENKO,1,Beijing 2022,NaN,None,0,0,0
840,https://olympics.com/en/athletes/eduard-latypov,Eduard LATYPOV,1,Beijing 2022,NaN,None,0,0,3
894,https://olympics.com/en/athletes/kristina-rezt...,Kristina REZTSOVA,1,Beijing 2022,NaN,None,0,1,1
1349,https://olympics.com/en/athletes/nathan-ikon-c...,Nathan Ikon CRUMPTON,1,Tokyo 2020,NaN,None,0,0,0
1734,https://olympics.com/en/athletes/pavel-kulizhn...,Pavel KULIZHNIKOV,1,Beijing 2022,NaN,None,0,0,0
...,...,...,...,...,...,...,...,...,...
75863,https://olympics.com/en/athletes/henri-laverne,Henri LAVERNE,1,Paris 1900,NaN,None,0,0,0
75864,https://olympics.com/en/athletes/mathieu,MATHIEU MATHIEU,1,Paris 1900,NaN,None,0,0,0
75865,https://olympics.com/en/athletes/louis-roche,Louis ROCHE,1,Paris 1900,NaN,None,0,0,0
75866,https://olympics.com/en/athletes/guy-baron-lej...,"Guy, Baron LEJEUNE",1,Paris 1900,NaN,"\n\n\nGuy, Baron Lejeune played doubles at the...",0,0,0
75867,https://olympics.com/en/athletes/katie-gillou,Katie GILLOU,1,Paris 1900,NaN,\n\n\nAntoinette Gillou played mixed doubles a...,0,0,0

In [21]:
#df_athletes["athlete_year_birth"] = df_athletes["athlete_year_birth"].astype(int)
df_athletes

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,bio,gold_medals,silver_medals,bronze_medals
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,None,0,0,0
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,None,0,0,0
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,None,0,0,0
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,None,0,0,0
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,None,0,0,0
...,...,...,...,...,...,...,...,...,...
75899,https://olympics.com/en/athletes/douglas-weigle,Douglas WEIGLE,1,Innsbruck 1976,1955.0,\n\n\nKent Weigle competed in ice dancing with...,0,0,0
75900,https://olympics.com/en/athletes/stefania-bertele,Stefania BERTELE,1,Innsbruck 1976,1957.0,\n\n\nStefania Bertele had the following place...,0,0,0
75901,https://olympics.com/en/athletes/walter-cecconi,Walter CECCONI,1,Innsbruck 1976,1957.0,\n\n\nWalter Cecconi had the following placeme...,0,0,0
75902,https://olympics.com/en/athletes/susan-kelley,Susan KELLEY,1,Innsbruck 1976,1954.0,\n\n\nSusie Kelley competed in ice dancing wit...,0,0,0
75903,https://olympics.com/en/athletes/andrew-stroukoff,Andrew STROUKOFF,1,Innsbruck 1976,1960.0,\n\n\nAndrew Stroukoff competed in ice dancing...,0,0,0

In [22]:
# colonne bio : pas de traitement sur les retours a la ligne, a voir avec le front
# df_athletes["bio"] = df_athletes['bio'].str.replace("\n", "")

In [23]:
# prÃªt -> df_athletes

In [24]:
df_hosts = pd.read_xml("olympic_hosts.xml")
df_hosts.drop("index", axis=1, inplace=True)
df_hosts

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
4,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014
5,london-2012,2012-08-12T19:00:00Z,2012-07-27T07:00:00Z,Great Britain,London 2012,Summer,2012
6,vancouver-2010,2010-02-28T04:00:00Z,2010-02-12T16:00:00Z,Canada,Vancouver 2010,Winter,2010
7,beijing-2008,2008-08-24T12:00:00Z,2008-08-08T00:00:00Z,China,Beijing 2008,Summer,2008
8,turin-2006,2006-02-26T19:00:00Z,2006-02-10T07:00:00Z,Italy,Turin 2006,Winter,2006
9,athens-2004,2004-08-29T18:00:00Z,2004-08-13T06:00:00Z,Greece,Athens 2004,Summer,2004
10,salt-lake-city-2002,2002-02-24T08:00:00Z,2002-02-08T15:00:00Z,United States,Salt Lake City 2002,Winter,2002
11,sydney-2000,2000-10-01T09:00:00Z,2000-09-15T01:00:00Z,Australia,Sydney 2000,Summer,2000
12,nagano-1998,1998-02-22T11:00:00Z,1998-02-06T23:00:00Z,Japan,Nagano 1998,Winter,1998
13,atlanta-1996,1996-08-05T21:00:00Z,1996-07-19T12:00:00Z,United States,Atlanta 1996,Summer,1996
14,lillehammer-1994,1994-02-27T19:00:00Z,1994-02-12T07:00:00Z,Norway,Lillehammer 1994,Winter,1994
15,barcelona-1992,1992-08-09T18:00:00Z,1992-07-25T06:00:00Z,Spain,Barcelona 1992,Summer,1992
16,albertville-1992,1992-02-23T19:00:00Z,1992-02-08T07:00:00Z,France,Albertville 1992,Winter,1992
17,seoul-1988,1988-10-02T10:00:00Z,1988-09-16T22:00:00Z,Republic of Korea,Seoul 1988,Summer,1988
18,calgary-1988,1988-02-28T03:00:00Z,1988-02-13T15:00:00Z,Canada,Calgary 1988,Winter,1988
19,los-angeles-1984,1984-08-12T19:00:00Z,1984-07-28T15:00:00Z,United States,Los Angeles 1984,Summer,1984
20,sarajevo-1984,1984-02-19T19:00:00Z,1984-02-08T07:00:00Z,Yugoslavia,Sarajevo 1984,Winter,1984
21,moscow-1980,1980-08-03T18:00:00Z,1980-07-19T05:00:00Z,USSR,Moscow 1980,Summer,1980
22,lake-placid-1980,1980-02-24T01:00:00Z,1980-02-13T13:00:00Z,United States,Lake Placid 1980,Winter,1980
23,montreal-1976,1976-07-31T22:00:00Z,1976-07-17T12:00:00Z,Canada,Montreal 1976,Summer,1976
24,innsbruck-1976,1976-02-15T19:00:00Z,1976-02-04T07:00:00Z,Austria,Innsbruck 1976,Winter,1976
25,munich-1972,1972-09-11T19:00:00Z,1972-08-26T07:00:00Z,Federal Republic of Germany,Munich 1972,Summer,1972
26,sapporo-1972,1972-02-13T11:00:00Z,1972-02-02T23:00:00Z,Japan,Sapporo 1972,Winter,1972
27,mexico-city-1968,1968-10-28T04:00:00Z,1968-10-12T16:00:00Z,Mexico,Mexico City 1968,Summer,1968
28,grenoble-1968,1968-02-18T19:00:00Z,1968-02-06T07:00:00Z,France,Grenoble 1968,Winter,1968
29,tokyo-1964,1964-10-24T11:00:00Z,1964-10-09T23:00:00Z,Japan,Tokyo 1964,Summer,1964
30,innsbruck-1964,1964-02-09T19:00:00Z,1964-01-29T07:00:00Z,Austria,Innsbruck 1964,Winter,1964
31,rome-1960,1960-09-11T19:00:00Z,1960-08-25T07:00:00Z,Italy,Rome 1960,Summer,1960
32,squaw-valley-1960,1960-02-28T04:00:00Z,1960-02-18T16:00:00Z,United States,Squaw Valley 1960,Winter,1960
33,melbourne-1956,1956-12-08T10:00:00Z,1956-11-21T22:00:00Z,"Australia, Sweden",Melbourne 1956,Summer,1956
34,cortina-d-ampezzo-1956,1956-02-05T19:00:00Z,1956-01-26T07:00:00Z,Italy,Cortina d'Ampezzo 1956,Winter,1956
35,helsinki-1952,1952-08-03T07:00:00Z,1952-07-19T07:00:00Z,Finland,Helsinki 1952,Summer,1952
36,oslo-1952,1952-02-25T19:00:00Z,1952-02-14T07:00:00Z,Norway,Oslo 1952,Winter,1952
37,london-1948,1948-08-14T19:00:00Z,1948-07-29T07:00:00Z,Great Britain,London 1948,Summer,1948
38,st-moritz-1948,1948-02-08T19:00:00Z,1948-01-30T07:00:00Z,Switzerland,St. Moritz 1948,Winter,1948
39,berlin-1936,1936-08-16T19:00:00Z,1936-08-01T07:00:00Z,Germany,Berlin 1936,Summer,1936
40,garmisch-partenkirchen-1936,1936-02-16T20:00:00Z,1936-02-06T08:00:00Z,Germany,Garmisch-Partenkirchen 1936,Winter,1936
41,los-angeles-1932,1932-08-14T19:00:00Z,1932-07-30T16:00:00Z,United States,Los Angeles 1932,Summer,1932
42,lake-placid-1932,1932-02-15T18:00:00Z,1932-02-04T13:00:00Z,United States,Lake Placid 1932,Winter,1932
43,amsterdam-1928,1928-08-12T19:00:00Z,1928-05-17T07:00:00Z,Netherlands,Amsterdam 1928,Summer,1928
44,st-moritz-1928,1928-02-19T08:00:00Z,1928-02-11T08:00:00Z,Switzerland,St. Moritz 1928,Winter,1928
45,paris-1924,1924-07-27T19:00:00Z,1924-05-04T07:00:00Z,France,Paris 1924,Summer,1924
46,chamonix-1924,1924-02-05T20:00:00Z,1924-01-25T08:00:00Z,France,Chamonix 1924,Winter,1924
47,antwerp-1920,1920-09-12T19:00:00Z,1920-04-20T07:00:00Z,Belgium,Antwerp 1920,Summer,1920
48,stockholm-1912,1912-07-27T20:00:00Z,1912-05-05T08:00:00Z,Sweden,Stockholm 1912,Summer,1912
49,london-1908,1908-10-31T20:09:00Z,1908-04-27T08:00:00Z,Great Britain,London 1908,Summer,1908
50,st-louis-1904,1904-11-24T02:00:00Z,1904-07-01T14:00:00Z,United States,St. Louis 1904,Summer,1904
51,paris-1900,1900-10-28T19:50:39Z,1900-05-14T08:50:39Z,France,Paris 1900,Summer,1900
52,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896

In [25]:
df_results = pd.DataFrame(pd.read_html("olympic_results.html", encoding="utf-8")[0])
df_results.drop("Unnamed: 0", axis=1, inplace=True)
df_results

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,NaN,NaN
2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,SWE,NaN,NaN,NaN,NaN
3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,GBR,NaN,NaN,NaN,NaN
4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,CAN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162799,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Poland,PL,POL,https://olympics.com/en/athletes/franciszek-bujak,Franciszek BUJAK,NaN,IRM
162800,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Poland,PL,POL,NaN,Henryk MÃ¼ckenbrunn,NaN,IRM
162801,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Czechoslovakia,CSHH,TCH,NaN,Milda Prokopec,NaN,IRM
162802,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,United States of America,US,USA,NaN,Sigurd Overby,NaN,IRM
162803,Gymnastics Artistic,"26th Federal Festival, Society and Association...",paris-1900,GameTeam,NaN,NaN,NaN,1,France,FR,FRA,NaN,NaN,142 pts,POINTS

In [26]:
pd.unique(df_results["medal_type"])

array(['GOLD', 'SILVER', 'BRONZE', nan], dtype=object)

In [27]:
pd.unique(df_results["rank_position"])
# DNS : DID NOT START
# DNF : DID NOT FINISH
# PEN : PENALTY
# WDR : WITHDRAWN
# LAP : RattrapÃ©e par la 1Ã¨re
# YCD : Yellow Card
# DSQ : DISQUALIFIED

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '17', '16',
       '19', '29', '26', '24', '21', '28', '18', '27', '23', '25', '30',
       '14', '11', '20', '13', '12', '15', '22', '31', '32', 'DNS', 'DNF',
       'PEN', '33', 'YCD', '51', '42', '50', '47', '41', '44', '36', '45',
       '55', '48', '38', '56', '54', '39', '49', '43', '52', '34', '40',
       '35', '53', '46', '37', 'DSQ', 'WDR', 'LAP', '58', '57', '87',
       '80', '89', '74', '64', '59', '85', '66', '63', '94', '65', '90',
       '60', '68', '77', '93', '92', '88', '72', '70', '86', '78', '79',
       '84', '83', '69', '67', '62', '73', '75', '61', '81', '76', '71',
       '82', '91', nan, '98', '96', '95', '97', 'DQB', '99', '100', '101',
       '102', '103', '104', '105', '106', '107', '108', '109', '110',
       '111', '112', '113', '114', '115', '116', '117', '118', '119',
       '120', '121', '122', '123', '124', '125', '126', '127', '128',
       '129', '130', '131', '132', '133', '134', '135', '136', '137',
       '138', '139', '140', '142', '143', '144', '147', '150', '152',
       '155', '156', '157', '158', '160', '161', '162', '164', '165',
       '166', '167', '168', '169', '170', '171', '172', '173', '174',
       '175', '176', '177', '178', '179', '180', '181', '182', '184',
       '185', '141', '146', '148', '151', '153', '154', '159', '183',
       '145', '163', '149'], dtype=object)

In [28]:
df_results[df_results["rank_position"].isna()]
df_results = df_results.dropna(subset="rank_position")
df_results = df_results.reset_index()

In [29]:
df_results = df_results.drop(["country_code", "athlete_url", "index", "value_unit", "value_type"], axis=1)
df_results

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_3_letter_code,athlete_full_name
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,ITA,NaN
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NOR,NaN
2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SWE,NaN
3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GBR,NaN
4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CAN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
158921,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Poland,POL,Franciszek BUJAK
158922,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Poland,POL,Henryk MÃ¼ckenbrunn
158923,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Czechoslovakia,TCH,Milda Prokopec
158924,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,United States of America,USA,Sigurd Overby
158925,Gymnastics Artistic,"26th Federal Festival, Society and Association...",paris-1900,GameTeam,NaN,NaN,NaN,1,France,FRA,NaN